<div class="sme-content">
  <div class="container-fluid">
    <br />
    <h4>Welcome back, User</h4>
    <div id="cards" style="margin:0;text-align: center;padding:5%;">
      <div style="float:left; height:50vh;width:40%; border:1px solid #86bc25;padding:5px;">
        <div style="text-align:center;"><h3>Previous Sessions</h3></div>
        <br />
        <div style="text-align:left;overflow-y:auto; height:70%;">
            <div class="table-responsive">
              <table class="table table-hover" style="width:70%;">                
                <tbody>
                  
                </tbody>
              </table>                       
          </div>          
        </div>
      </div>
      <div style="float:left; height:50vh;width:40%;border:1px solid #86bc25;padding:5px;margin-left:20%;">
        <div style="text-align:center;"><h3>New Session</h3></div>
        
        <br />
        <br />
        <br />
        <div style="text-align:center;">
          <a href="#" (click)="startNewSession()" routerLinkActive="active" class="btn btn-success btn-lg deloitte-green-bg">
            Begin
            &nbsp;
            <i class="now-ui-icons arrows-1_minimal-right"></i>
          </a>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
