<br />
<div id="custom-content" class="home-custom-content">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/client" routerLinkActive="active">Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sme" routerLinkActive="active">SME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4 class="card-title">Soft Login Page</h4>
      <p class="card-text">This page is used to soft login a user. A User is authenticated here using ADFS and post authentication, the user will be directly routed to the sub-module - Client/SME/Admin as per their role.</p>
      <a href="#" class="btn btn-success deloitte-green-bg">Go somewhere</a>
    </div>
  </div>
</div>
